---
layout: default
hero:
  heading: Say Hello to Dance Kitchen
  sub: Your Mobile Dance Tutor
  image: "/assets/images/about/about_header.png"
  text-color: dk-grey-l
intro:
  _image: /assets/images/screenshot-dk.png
  title: Inspiring the World to Dance, One Step at a Time
  heading: "Our Mission: Making Dance Accessible and Fun"
  copy: "Dance Kitchen was born out of a love for dance and a desire to make learning it accessible, enjoyable, and effective. Our mission is simple: to inspire the world to dance, one step at a time. We believe that everyone can and should dance, regardless of their background or experience. <br><br>That's why we've created a groundbreaking dance learning app that serves as a personal tutor, helping you master the essential ingredients to cook up your dance skills."
  subheader: Start Your Dance Journey Today!
  subtext: "BUTTONS"
  overlay: overlay-orange
  flip: flip
wall:
- row_image: /assets/images/about/dancer1.png
  title: Changing Dance Education
  copy: Traditionally, learning to dance has often meant adjusting to the pace of group classes or investing in private lessons. With Dance Kitchen, we're revolutionizing the game. Our unique selling proposition lies in our dynamic visualization of foot movements synchronized to music. This immersive experience empowers dancers of all levels to confidently master footwork patterns, fine-tune their timing, and shine on the dance floor. This is dance education for the modern world - flexible, personalized, and at your own pace.
- row_image: /assets/images/about/dancer2.png
  title: Why Choose Dance Kitchen
  copy: Choosing Dance Kitchen means choosing a new and exciting way to learn to dance. It means saying goodbye to the frustration of forgetting steps and falling behind. It means learning to dance in a way that suits you - in your own time, at your own pace. And it means becoming part of a community of dance enthusiasts, all learning and growing together. Whether you're a beginner looking to take your first steps or an experienced dancer wanting to refine your technique, Dance Kitchen is here to support you on your dance journey.
---

{% include hero-header.html %}

{% include page-intro.html %}

{% include text-wall.html %}
