---
layout: default
permalink: /how-it-works
hero:
  heading: How the App Works
  sub: Learn to Dance at Your Own Pace from the Comfort of Your Own Home
  image: /assets/images/hiw/hiw_header.png
  text-color: dk-grey-l
feature-items:
- pic: /assets/images/hiw/Footwork.png 
- pic: /assets/images/hiw/Lead-or-follow.png
- pic: /assets/images/hiw/Musicality.png
- pic: /assets/images/hiw/On1.png
- pic: /assets/images/hiw/Patterns.png
- pic: /assets/images/hiw/Timing.png
intro:
  _image: /assets/images/hiw/screenshot_jeromeVid.png
  title: Get to Know Our Talened Teachers
  heading: "Tailored Lessons to Boost Your Dance Skills"
  copy: "Our teachers create engaging and comprehensive lessons that cater to your unique learning needs. Whether you're mastering the basic steps, learning complex footwork patterns, or fine-tuning your musicality, you can count on our teachers to guide you every step of the way. Learn more about the wide range of lessons they offer, from salsa to bachata and beyond."
  subheader: Exceptional Teachers with Rich Experiences
  subtext: Our team of dedicated teachers brings a wealth of experience and knowledge to every lesson they provide. Coming from diverse dance backgrounds, they each possess a deep passion for dance and an eagerness to share their expertise with you. Explore each teacher's biography to learn more about their dance journey, specializations, and unique teaching philosophy.
  overlay: overlay-blue
  flip: flip
  subtext: "BUTTONS"
wall:
- row_image: /assets/images/teachers/jerome.png
  title: Jerome MT
  links:
  - icon: /assets/images/icons/ig_blue.png
    url:
  copy: Jerome MT has dedicated himself to the study and sharing of dance and movement for 20 years. Based in Honolulu, he invites students to embrace movement within their bodies and to allow Afro Latin expressions to flow naturally. Afro-Latin and Orisha movements are used to enhance your own body awareness and produce more freedom within your dance expression. <br><br>His method and style allow expression at any technical level to explore and grow comfortably. He believes that Salsa is a playground of movement and freedom and that everyone should be free to play.  
- row_image: /assets/images/teachers/khala.png
  title: Khala
  links:
  - icon: /assets/images/icons/ig_blue.png
    url:
  - icon: /assets/images/icons/ig_blue.png
    url: 
  copy: "Khala is a former gymnast and a dancer. Her background in gymnastics, ballet, modern jazz & contemporary dance gave her the foundations of a good technique. Her journey as a Latin Dancer started in 2005. Since then, she has created choreographies & performed in Salsa, Bachata & Kizomba shows. <br><br>Her studies, diploma and experience as a Physical Education teacher, Fitness & Zumba instructor, Yoga & Meditation facilitator, gave her the knowledge to help people improve their dancing skills & feel good in their body & mind. Today she teaches Bachata Lady Style and Kizomba for followers in the beautiful island of Koh Phangan, Thailand."
---

{% include hero-header.html %}

{% include feature-items.html %}

{% include teacher-cta.html %}

{% include page-intro.html %}

{% include text-wall.html %}
