---
layout: default
hero:
  text-color: text-white
  heading: Dance Kitchen
  sub: Your personal tutor to cook up your dance skills
  image: 
embedId: "iEASi5qEhdw"
sales-features:
- heading: "Your Digital Dance Tutor"
  copy: "It's like having a personal dance tutor that fits your schedule and pace."
  icon: /assets/images/icons/tempo.svg
- heading: "Practice Timing and Musicallity"
  copy: "Master dance timing and fine-tune your ear for salsa and bachata instruments"
  icon: /assets/images/icons/horn.svg
- heading: "Watch Teacher Videos"
  copy: "Benefit from top industry instructors, who share exclusive dance tips and insights."
  icon: /assets/images/icons/teacher.svg
- heading: "Learn Synchronized Footwork"
  copy: "Our interactive stage makes mastering complex patterns a breeze."
  icon: /assets/images/icons/footwork.svg
---

{% include home-header.html %}

<!------------------------------------- Header --------------------------------------------->
<header class="bg-fixed bg-no-repeat bg-dancers">
  <div class="container grid justify-center grid-cols-1 mx-auto md:grid-cols-2 pt-14 md:px-24">
    <div class="content-center p-6 text-center">
      <img class="max-h-[23vh] inline" src="/assets/images/logo-dk.png" alt="Dance Kitchen Logo"></img>
          <h1 class="pt-4 pb-8 text-3xl text-dk-navy-l sub-header">Your personal tutor to cook up your dance skills</h1>
          {% include store-buttons.html %}
    </div>
    <div class="grid justify-center pb-6">
      <img class="lg:max-w-[16rem] max-w-[12rem]" src="assets/images/screenshot-dk.png" alt="Dance Kitchen Screenshot"></img>
    </div>
  </div>
</header>

<section class="text-dk-navy-l bg-slate-50">
    <div class="container py-8 mx-auto">
      <h2 class="pb-6 text-center">Step into Dance Kitchen</h2>
      <div class="grid gap-8 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
        {% include feature-description.html %}
      </div>
    </div>
</section>

<section class="p-8 text-center bg-dk-navy-l">
  <div class="container flex-col h-full mx-auto">         
    <div class="pb-6 text-white">
        <h2>Sign Up For Our Newsletter</h2>
        <h4>Enter your email to receive app update and dance tips from Dance Kitchen:</h4> 
    </div>
    <div class="grid mx-4 text-center lg:mx-32 xl:mx-64">
        {% include email-form.html %}
    </div>
  </div>
</section>
  
<section class="bg-dk-orange-l ">
  <div class="container grid items-center grid-cols-1 p-8 mx-auto md:grid-cols-2">
    <div class="grid grid-flow-row gap-8 pb-8 text-white">
      <h2>Why use Dance Kitchen?</h2>
      <p>Our unique approach focuses on dynamic visualization of foot movements synchronized to the music, taking you beyond traditional dance education. Don't miss out – join Dance Kitchen today and experience the future of dance education!</p>
    </div>

    <div class="order-first my-5 justify-self-center md:order-none">
      {% include yt-video.html %}
    </div>
  </div>
</section>

{% include teacher-cta.html %}



