<form action="https://dancekitchen.us14.list-manage.com/subscribe/post?u=c5a86ad82aa6ae00b36502df0&amp;id=188a1da9a5&amp;f_id=00a49fe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_self" noValidate>
    <div class="relative">
        <input type="email" defaultValue="" name="EMAIL" class="email-sub-field" id="mce-EMAIL" placeholder="Enter email address" required />
        <div style="display: none">
            <input type="hidden" name="tags" value="11244879"/>
        </div>
        <div style="position:absolute; left:-5000px;">
            <input type="text" name="b_c5a86ad82aa6ae00b36502df0_188a1da9a5" tabIndex="-1" defaultValue="" />
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="ctaButton text-3xl" />
    </div>
</form>