<footer class="p-5p bg-dk-navy-l">
  <div class="grid mx-auto text-white max-w-screen-2xl md:grid-cols-3 ">
    <div class="">
      <img class="inline-flex max-h-16" src="/assets/images/logo.png" alt="Dance Kitchen Logo"></img>
      <img class="max-w-[238px] inline max-lg:hidden" src="/assets/images/logo_font-white.png" alt="Dance Kitchen"></img>
      <div class="pt-4 pr-6">
        <p>We're on a mission to inspire the world to dance, and empower dancers around the world. Stay tuned as we expand Dance Kitchen with additional styles and patterns!</p>
      </div>
    </div>
    <div class="py-6 mx-auto md:pt-16">
      {% include store-buttons.html %}
    </div>    
    <div class="grid content-end justify-end gap-2 px-8 py-6 auto-rows-min">
      <h3 class="text-white">Let's Connect.</h3>
      <div class="flex">
        <a class="inline" href="https://www.instagram.com/dancekitchen.io/"><img class="max-h-24" src="/assets/images/icons/ig.png" alt="Instagram Icon"></img></a>
        <a class="inline" href="mailto:support@dancekitchen.io"><img class="max-h-24" src="/assets/images/icons/email.png" alt="Email Icon"></img></a>
      </div>
    </div>  
  </div>
</footer>
<div class="p-1 italic text-center bg-dk-navy-l text-med text-slate-300"><p>Copyright Crew Crafts Media Inc. 2023</p></div>