<footer class="grid grid-cols-1 md:grid-cols-3 bg-dk-navy-l text-white">
    <div class="grid auto-rows-min items-start">
        <div class="pl-8 pt-8 whitespace-nowrap">
          <img class="max-h-12 inline" src="/assets/images/logo.png" alt="Dance Kitchen Logo"></img>
          <h2 class="align-middle ml-2 inline">Dance Kitchen</h2>
        </div>
        <div class="pl-8 pr-6">
          <p>We're on a mission to inspire the world to dance, and empower dancers around the world. Stay tuned as we expand Dance Kitchen with additional styles and patterns!</p>
        </div>
    </div>
    <div class="py-6 md:pt-20 mx-auto grid content-center">
      {% include store-buttons.html %}
    </div>

    <div class="grid auto-rows-min gap-2 content-end justify-end px-8 py-6">
     
      <h4>Let's Connect.</h4>
      <div class="flex">
        <a class="inline" href="https://www.instagram.com/dancekitchen.io/"><img class="max-h-24" src="/assets/images/icons/ig.png" alt="Instagram Icon"></img></a>
        <a class="inline" href="mailto:support@dancekitchen.io"><img class="max-h-24" src="/assets/images/icons/email.png" alt="Email Icon"></img></a>
      </div>
    </div>
  </footer>
  <div class="text-center bg-dk-navy-l italic text-med text-slate-300 p-1"><p>Copyright Crew Crafts Media Inc. 2023</p></div>
