<div class="min-h-[90px]">
    <div class="p-6 flex flex-row items-center navigation w-full">
      <a href="/">
        <img class="max-h-20" src="/assets/images/logo.png" alt="Dance Kitchen Logo"></img>
      </a>
      <div class="grow"></div>
        <nav class="justify-end no-underline text-right text-2xl text-dk-navy pr-6">
          <a class="nav-item" href="/about">About</a>
          <a class="nav-item md:inline hidden" href="/how-it-works-page copy.html">How it WorkZ</a>
          <a class="nav-item" href="/how-it-works">How it Works</a>

          <a class="nav-item md:inline hidden" href="/dancestyles-page.html">Dance Styles</a>
          <a class="nav-item" href="/teachers">Our Teachers</a>
          <a class="nav-item md:inline hidden" href="">Dance Dish Diares</a>
          <a class="nav-item md:inline hidden" href="/community-page.html">Join the Team</a>
        </nav>  
    </div>
</div>