<header class="min-h-[80px] ">
  <div class="fixed top-0 left-0 right-0 z-20 flex items-center justify-between py-2 mx-auto bg-white shadow-lg px-5p max-w-screen">
    <a href="/">
      <img class="max-h-16" src="/assets/images/logo.png" alt="Dance Kitchen Logo"></img>
    </a>
    
    <nav class="text-right no-underline text-dk-navy">
      <a class="hidden md:inline" href="/about">About</a>
      <a class="hidden md:inline" href="/how-it-works">How it Works</a>
      <a class="mx-1" href="/dancestyles-page.html">Dance Styles</a>
      <a class="hidden md:inline" href="/community-page.html">Join the Team</a>
      <a class="ml-1" href="/teachers">Our Teachers</a>

    </nav>  
  </div>
</header>
