<section class="banner grid bg-overlay" id={{page.intro.overlay}}>
    <div class="p-4 container mx-auto text-dk-navy">
        <h3 class="text-center p-[2%]">{{page.intro.title}}</h3>
        <div class="flex md:flex-col mx-16" id="{{page.intro.flip}}">
            <div class="object-contain hidden md:block">
                <img src="{{page.intro._image}}" alt="{{page.intro.alt}}" />
            </div>
            <div class="md:pr-10 pt-8 lg:pt-20">
                <h4>{{page.intro.heading}}</h4>
                <p class="pt-4 mb-12 md:mb-0">{{page.intro.copy}}</p>
            </div>
        </div>
        <div class="md:min-h-[20vh] min-h-[50vh]">
            {% if page.intro.subtext == "BUTTONS" %}
                <h2 class="text-center text-black">{{page.intro.subheader}}</h2>
                <div class="grid-flow-col grid justify-items-center">
                    {% include store-buttons.html %}
                </div>
            {% else %}
                <div class="grid grid-flow-col items-end">
                    <h2>{{page.intro.subheader}}</h2>
                    <p class="{{page.intro.subtext-color}}">{{page.intro.subtext}}</p>
                </div>
            {% endif %} 
        </div> 
    </div>
</section>