<section class="grid p-5p bg-gradient-to-t {{page.intro.gradient_tw}} to-white via-white via-50%">
    <div class="container mx-auto text-dk-navy">

        <h3 class="text-center">{{page.intro.title}}</h3>
        
        <div class="max-w-6xl mx-auto flex {% if page.intro.flip == 'flip' %} flex-row-reverse {% endif %}">
            <div class="hidden object-contain p-4 mt-8 md:block">
                <img src="{{page.intro._image}}" alt="{{page.intro.alt}}" />
            </div>
            <div class="pt-8 md:pr-10 lg:pt-20">
                <h4>{{page.intro.heading}}</h4>
                <p class="pt-4 mb-12 md:mb-0">{{page.intro.copy}}</p>
            </div>
        </div>

        <div class="">
            {% if page.intro.subtext == "BUTTONS" %}
                <h3 class="text-center">{{page.intro.subheader}}</h3>
                <div class="grid justify-items-center">
                    {% include store-buttons.html %}
                </div>
            {% else %}
                <div class="grid items-end max-w-6xl grid-flow-col mx-auto">
                    <h3 class="max-md:hidden">{{page.intro.subheader}}</h3>
                    <p class="self-center">{{page.intro.subtext}}</p>
                </div>
            {% endif %} 
        </div> 
    </div>
</section>