<section class="banner grid bg-overlay" id={{page.intro.overlay}}>
    <div class="p-4 container mx-auto text-dk-navy">
        <h2 class="text-center">{{page.intro.title}}</h2>
        <div class="flex lg:flex-row p-8 mx-16" id="{{page.intro.flip}}">
            <div class="object-contain w-[65vw]">
                <img src="{{page.intro._image}}" alt="{{page.intro.alt}}" />
            </div>
            <div class="p-14">
                <h3>{{page.intro.heading}}</h3>
                <p>{{page.intro.copy}}</p>
            </div>
        </div>
        <div class="min-h-[15vh]">
            {% if page.intro.subtext == "BUTTONS" %}
                <h2 class="pt-20 text-center">{{page.intro.subheader}}</h2>
                <div class="grid-flow-col pt-4 grid justify-items-center">
                    {% include store-buttons.html %}
                </div>
            {% else %}
                <div class="grid grid-flow-col items-end">
                    <h2>{{page.intro.subheader}}</h2>
                    <p class="{{page.intro.subtext-color}}">{{page.intro.subtext}}</p>
                </div>
            {% endif %} 
        </div> 
    </div>
</section>