<div class="grid md:grid-flow-col grid-flow-row max-w-lg">
    <a class="p-3" href="https://apps.apple.com/app/apple-store/id6443764461?pt=125642528">
      <img src="/assets/images/buttons/store_apple-download.png" alt="Apple Store Button"></img>
    </a>
    <a class="p-3" href="https://play.google.com/store/apps/details?id=com.CrewCraftsMedia.DanceKitchen">
      <img src="/assets/images/buttons/store_google-download.png" alt="Google Store Button"></img>
    </a>
</div>

<!-- class="mx-6 my-3 lg:mx-6 xl:mx-12 -->