<section class="bg-dk-grey">
    <div class="py-8 container mx-auto">
        {% for item in page.wall %}
        <div class="lg:flex flip-order">
            <img class="p-8 rounded-lg mx-auto object-contain max-h-[500px]" src="{{item.row_image}}" alt="{{item.title}}"></img> 
            <div class="py-8 px-16 ">
                <div class="">
                    <h3 class="text-dk-blue-app">{{item.title}}</h3>
                    {% for squares in item.links %}
                        <img class="inline" src="{{squares.icon}}"></img>
                    {% endfor %}
                </div>
                <p class="text-left pt-3 text-dk-navy">{{item.copy}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>