<section class="bg-dk-grey">
    <div class="container py-8 mx-auto">
        {% for item in page.wall %}
        <div class="lg:flex flip-order">
            <img class="p-8 rounded-lg mx-auto object-contain max-h-[500px]" src="{{item.row_image}}" alt="{{item.title}}"></img> 
            <div class="px-16 py-8 ">
                <div class="flex flex-row">
                    <h3 class="text-[#145da0] mr-2">{{item.title}}</h3>
                    {% for squares in item.links %}
                        <div class="grid items-center aspect-square">
                            <img class="align-middle min-w-[70px]" src="{{squares.icon}}"></img>
                        </div>
                    {% endfor %}
                </div>
                <p class="pt-3 text-left text-dk-navy">{{item.copy}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>