<section class="bg-dk-grey">
    <div class="py-8 container mx-auto items-center">
        {% for item in page.wall %}
        <div class="flex flip-order items-center">
            <img class="p-8 rounded-lg max-h-[500px] justify-self-center" src="{{item.row_image}}" alt="{{item.title}}"></img> 
            <div class="grid py-8 px-16 ">
                <h3 class="text-dk-blue-app">{{item.title}}</h3>
                <p class="text-left pt-2 text-dk-navy">{{item.copy}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>