<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <meta name="description" content="Dance Kitchen Home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com"  />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300;400;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="/assets/css/main.css">

</head>

<body>
    <main class="w-full">
        {% include header-nav.html %}

        {{ content }}

        {% include footer.html %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>



</html>
